.card {
  
}

.image-container {
  max-width: 280px;
  height: 425px;
  margin-bottom: 12px;
}

.labels-container {
  position: relative;
  display: flex;
}

.rate-label {
  position: absolute;
  color: rgba(9, 9, 12, 1);
  background: linear-gradient(45deg, #F2F452 0%, #B4FD64 64%);
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.48px;
  border-radius: 8px;
  top: 16px;
  left: 16px;
}

.new-label {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  margin-inline: auto; 
  width: fit-content;
  padding: 4.5px 8px 5.5px 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(9, 9, 12, 0.6);
  line-height: 20.48px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 23.04px;
  font-weight: 500;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.card-paragraph {
  color: rgba(186, 186, 186, 1);
  font-size: 18px;
  line-height: 23.04px;
}

@media (width < 1000px) {

  .image-container {
    max-width: 168px;
    height: 252px;
    margin-bottom: 8px;
  }

  .rate-label {
    padding: 4px 7px;
    font-size: 12px;
    line-height: 15.36px;
    top: 8px;
    left: 8px;
  }

  .new-label {
    top: 8px;
    padding: 4px 7px 4px 7px;
    line-height: 15.36px;
    font-size: 12px;
    border-radius: 8px;
  }

  .card-title {
    width: 168px;
    font-size: 14px;
    line-height: 17.92px;
  }

  .card-paragraph {
    font-size: 14px;
    line-height: 17.92px;
  }
}