.button {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20.48px;
  font-weight: 500;
  justify-items: stretch;
}

.button-primary {
  color: #09090C;
  background: linear-gradient(45deg, #F2F452 0%, #B4FD64 64%);
}

.button-secondary {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (width <= 1420px) {
  .button-hidden {
    display: none;
  }

  .button-centered-text {
    justify-content: center;
    align-content: center;
  }
}