.footer {
  display: flex;
  flex-direction: column;
  padding: 52px 64px 80px 64px;
  gap: 44px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  gap: 24px;
}

.button {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 20.48px;
  font-weight: 500;
  cursor: pointer;
}

.navigation-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: solid 1px #FFFFFF;
}

.navigation-list {
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.48px;
}

.navigation-tech-list {
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.48px;
}

.navigation-tech-list > li:first-child {
  display: none;
}

.company-info-block {
  position: relative;
  display: flex;
}

.age-rate-label {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
}

.company-info-rights {
  display: flex;
  gap: 20px;
}

.company-info-paragraphs {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
}

.logo {
  left: 0;
  right: 0;
  margin-inline: auto;
  position: absolute;
  opacity: .3;
}

@media (width <= 1220px) {
  .footer {
    padding: 28px 16px 34px 16px;
    gap: 28px;
  }

  .navigation-block {
    flex-direction: column;
    order: 1;
    border: none;
    text-align: center;
    padding: 0;
  }

  .navigation-list {
    display: none;
  }

  .navigation-tech-list {
    flex-direction: column;
    margin-top: 16px;
  }

  .navigation-tech-list > li:first-child {
    display: inline;
  }

  .company-info-block {
    order: 3;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }

  .company-info-rights {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
  }

  .logo {
    margin-inline: auto;
    position: relative;
    display: block;
  }

  .age-rate-label {
    padding: 4px;
    font-size: 14px;
    line-height: 17.92px;
  }

  .buttons-container {
    gap: 16.5px;
    justify-content: center;
    margin-bottom: 24.5px;
  }

  .social-links {
    order: 2;
    flex-direction: column-reverse;
  }

  .social-paragraph {
    display: none;
  }

  .social-icon-container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    mask-clip: content-box;
  }

  .social-icon {
    position: relative;
    z-index: 3;
    padding: 10px;
    filter: brightness(0%);
  }

}