.weekly-top-section {
  margin-bottom: 100px;
}

.title {
  text-transform: uppercase;
  font-weight: 1000;
  font-style: italic;
  font-size: 28px;
  line-height: 33.54px;
  letter-spacing: 1%;
  background: -webkit-linear-gradient(83.19deg, #F2F452 0.32%, #B4FD64 69.58%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

@media (width <= 600px) {
  .weekly-top-section {
    margin-bottom: 60px;
  }  

  .title {
    font-size: 22px;
    line-height: 28.16px;
    margin-bottom: 12px;
  }
}